@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  --accent-color: #6366f1;
  --btn-color: #0B0F19;
  --bg-color-primary: #fff;
  --bg-color-secondary: #F3F6FF;
  --bg-color-tertiary: rgb(226, 229, 241, 0.05);
  --bg-color-quaternary: #fff;
  --bg-color-header: #fff;
  --bg-color-header-darkmode: #F3F6FF;
  --detail-color1: #E2E5F1;
  --detail-color2: #9397ad;
  --detail-color3: #9397ad;
  --detail-color4: #33354D;
  --detail-color5: rgb(147, 151, 173, 0.20);
  --font-color-primary: #0B0F19;
}

body.dark-theme {
  --accent-color: #6366f1;
  --btn-color: #EFF2FC;
  --bg-color-primary: #0B0F19;
  --bg-color-secondary: rgba(255, 255, 255, 0.04);
  --bg-color-tertiary: rgba(255, 255, 255, 0.05);
  --bg-color-quaternary: rgba(255, 255, 255, 0.04);
  --bg-color-header: rgb(27, 31, 46);
  --bg-color-header-darkmode: rgb(21, 26, 39);
  --detail-color1: rgba(255, 255, 255, 0.15);
  --detail-color2: #6366F1;
  --detail-color3: #9397ad;
  --detail-color4: #fff;
  --detail-color5: rgb(99, 102, 241, 0.40);
  --font-color-primary: #fff;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, #root {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background-color: var(--bg-color-primary);
  color: var(--font-color-primary);
}

/* UTILITY CLASSES */
.s-font {
  font-size: 0.875rem;
  line-height: 160%;
  font-weight: 400;
}

.m-font {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 400;
}

.l-font {
  font-size: 1.125rem;
  line-height: 150%;
  font-weight: 400;
}

.s-heading {
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 150%;
}

.sm-heading {
  font-size: 1.56rem;
  line-height: 150%;
  font-weight: 800;
}

.m-heading {
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 130%;
}

.l-heading {
  font-size: 2.125rem;
  font-weight: 800;
  line-height: 130%;
  padding-top: 1.5rem;
}

.xl-heading {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 130%;
}

.bold {
  font-weight: 600;
}

.x-bold {
  font-weight: 800;
}

.space-y-1 > * + * {
  margin-top: 1rem;
}
.space-y-2 > * + * {
  margin-top: 2rem;
}

.space-left {
  margin-left: 1.7rem;
}
.space-right {
  margin-right: .5rem;
}

.p-1 {
  padding: 1rem;
}

.p-tb-1 {
  padding: 1rem 0;
}

.p-tb-2 {
  padding: 2rem 0;
}

.p-5 {
  padding: 5rem;
}

.p-tb-5 {
  padding: 5rem 0;
}

.m-tb-1 {
  margin: 1rem 0;
}

.p-t-3 {
  padding-top: 3rem;
}
.p-t-2 {
  padding-top: 2rem;
}

.center {
  text-align: center;
}

.accent {
  color: var(--accent-color);
}

.hover {
  cursor: pointer;
}

.hover-accent {
  transition: .2s ease;

  &:hover {
  color: hsl(from var(--accent-color) h s calc(l - 7));
  transition: .2s ease;
}
}

.opacity80 {
  opacity: 80%;
}
/* --- */

.breadcrumbs {
  list-style: none;
  display: flex;
  color: var(--detail-color3);

  li {
    margin-right: .5rem;
  }
}

.breadcrumb-link {
  color: var(--detail-color3);
  text-decoration: none;
}

.breadcrumb-active {
  color: var(--accent-color);
}

/* BUTTONS */
.scrollToTopButton {
  position: fixed;
  bottom: 7%;
  right: 2%;
  background-color: var(--bg-color-secondary);
  padding: 1rem;
}

.sign-in-btn {
  border-radius: 5px;
  justify-content: center;
  gap: 0.75rem;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}
.sign-in-btn:hover {
  background-color: hsl(from var(--accent-color) h s calc(l + 3));
  color: #fff;
}
.sign-in-btn:active {
  background-color: hsl(from var(--accent-color) h s calc(l - 3));
  color: #fff;
}
.sign-in-btn:hover {
  text-decoration: none;
  transition: 0.2s;
}

.sign-in-btn:active {
  transition: none;
}

#sign-in-up {
  display: none;
}

.btn-app {
  border-radius: 8px;
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
  background-color: var(--btn-color);
  color: #fff;
}
.btn-app:hover {
  text-decoration: none;
  transition: 0.2s;
}
.btn-app:hover {
  background-color: var(--detail-color4);
  color: #fff;
}
.btn-app:active {
  background-color: var(--btn-color);
  color: #fff;
}

#theme-image-apple,
#theme-image-google {
  max-width: 100%;
  height: auto;
}

.arrow-btn, .arrow-down, .arrow-up, .scrollToTopButton {
  border-radius: 100%;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}
.arrow-btn:hover, .arrow-down:hover, .arrow-up:hover {
  text-decoration: none;
  transition: 0.2s;
}

.arrow-btn {
  height: 45px;
  width: 45px;
  background-color: var(--bg-color-quaternary);
  color: var(--detail-color4);
  display: flex;
  padding: 15px;
  box-shadow: 0 0 10px var(--detail-color1);
}
body.dark-theme .arrow-btn {
  box-shadow: none;
}
.arrow-btn:hover {
  background-color: var(--accent-color);
  color: #fff;
  box-shadow: 0 0 10px -3px var(--accent-color);
}
.arrow-btn:active {
  background-color: hsl(from var(--accent-color) h s calc(l - 3));
  transition: none;
}

.learn-more-btn {
  height: 45px;
  width: 160px;
  background-color: var(--accent-color);
  color: #fff;
  border-radius: 5px;
  padding: 0.7rem 1.5rem;
  font-size: 0.9rem;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
  background-color: var(--accent-color);
  color: #fff;
}
.learn-more-btn:hover {
  text-decoration: none;
  transition: 0.2s;
}
.learn-more-btn:hover {
  background-color: hsl(from var(--accent-color) h s calc(l + 3));
  color: #fff;
}
.learn-more-btn:active {
  background-color: hsl(from var(--accent-color) h s calc(l - 3));
  color: #fff;
}
.learn-more-btn:hover {
  color: #fff;
  text-decoration: none;
  font-size: 0.95rem;
}
.learn-more-btn:active {
  transition: none;
}
.learn-more-btn span {
  padding-left: 10px;
}

.arrow-down, .arrow-up {
  height: 35px;
  width: 35px;
  text-align: center;
  padding: 10px;
}

.arrow-down {
  background-color: var(--bg-color-secondary);
}

.arrow-up {
  background-color: var(--accent-color);
  color: #fff;
  box-shadow: 0 -5px 20px -3px var(--accent-color);
}

.question .open,
.question .close {
  padding: 0 2rem;
  transform: translateY(-8px);
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  top: auto;
  right: 0;
  bottom: auto;
  left: auto; 
}

.question .open.active,
.question .close.active {
  opacity: 1;
}

.btn-mobile {
  padding: 2rem 0;
}
.btn-mobile .contact-btn {
  padding: 1rem 1.5rem;
  border-radius: 6px;
  display: block;
  margin: 0 auto;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
  background-color: var(--accent-color);
  color: #fff;
}
.btn-mobile .contact-btn:hover {
  text-decoration: none;
  transition: 0.2s;
}
.btn-mobile .contact-btn:hover {
  background-color: hsl(from var(--accent-color) h s calc(l + 3));
  color: #fff;
}
.btn-mobile .contact-btn:active {
  background-color: hsl(from var(--accent-color) h s calc(l - 3));
  color: #fff;
}

.submit-btn {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  border-radius: .5em;
  font-weight: 600;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  margin-top: 5rem;

  &:hover {
    background-color: hsl(from var(--accent-color) h s calc(l + 2));
    color: #fff;
    transition: 0.2s;
  }
  &:active {
    background-color: hsl(from var(--accent-color) h s calc(l - 2));
    color: #fff;
  }
}
/* --- */

/* HEADER */
.header {
  position: sticky;
  top: 0;
  z-index: 10000;
}

main {
  flex: 1;
}

.main-navigation {
  padding: 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  align-items: center;
}

.sidebar {
  height: 100vh;
  width: 100%;
  padding-top: 1rem;
  z-index: 9999;
  background-color: var(--bg-color-tertiary);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  box-shadow: 2px 0 10px var(--detail-color2);
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  display: flex;
  align-items: center;
}

.sidebar.open {
  transform: translateX(0);
  opacity: 1;
}

.sidebar li {
  width: 100%;
  height: 3rem;
}

.sidebar a, .ham-menu {
  width: 100%;
  text-decoration: none;
  color: var(--detail-color4);
  display: flex;
  align-items: center;
}

.sidebar a {
  justify-content: left;
  padding: 10px 20px;
}
.sidebar a:hover {
  background-color: var(--detail-color5);
}

.ham-menu {
  justify-content: right;
  padding: 1rem;
}

.logo-container {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.home-link {
  text-decoration: none;
  color: var(--font-color-primary);
}

.dark-mode {
  gap: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  display: none;
  color: var(--font-color-primary);

  &.active {
    font-weight: 600;
    color: var(--accent-color);
  }
}
.nav-link:hover {
  color: var(--accent-color);
  transition: 0.2s;
}

.dark-mode-label {
  display: none;
}

.switch {
  width: 45px;
  height: 25px;
  position: relative;
  display: inline-block;
}
.switch input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: absolute;
  inset: 0;
  background-color: var(--detail-color2);
  border-radius: 25px;
  box-shadow: 0 10px 30px -5px var(--accent-color), inset 0 0 4px rgba(111, 114, 131, 0.5019607843);
  cursor: pointer;
}
.switch .slider::before {
  content: "";
  height: 80%;
  aspect-ratio: 1;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: inset 0 0 3px #ccc;
  transform: translateY(-50%);
  transition: 0.2s;
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 5%;
}
.switch input[type=checkbox]:checked + .slider::before {
  left: calc(95% - 20px);
}
.switch input[type=checkbox]:checked + .slider {
  background-color: var(--accent-color);
}

.toggle-menu {
  position: relative;
  height: 36px;
  width: 30px;
  cursor: pointer;
}
.toggle-menu .line {
  position: absolute;
  height: 2px;
  width: 22px;
  background-color: var(--detail-color3);
  border-radius: 100px;
}
.toggle-menu .top-line {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toggle-menu .middle-line {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toggle-menu .bottom-line {
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toggle-menu input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-menu:hover > .line {
  background-color: #3e4265;
  transition: 0.2s;
}
/* --- */

/* FOOTER */
footer {
  padding: 1.5rem;
  color: var(--detail-color3);
  background-color: var(--bg-color-primary);
  text-align: center;
  margin-top: auto;
}

@media (min-width: 1400px) {
  #sign-in-up {
    display: flex;
  }
}
@media (min-width: 768px) {
  .btn-mobile {
    display: none;
  }
}
@media (min-width: 1400px) {
  .submit-btn {
    margin-top: 7rem;
  }
}
@media (min-width: 1400px) {
  .main-navigation {
    max-width: 1320px;
    padding: 1rem 2.5rem 1rem 2rem;
  }
}
@media (min-width: 768px) {
  .sidebar {
    width: 20rem;
  }
}
@media (min-width: 1400px) {
  .sidebar {
    display: none;
  }
}
@media (min-width: 768px) {
  .dark-mode {
    padding-right: 4rem;
  }
}
@media (min-width: 1400px) {
  .nav-link {
    display: block;
    padding-left: 1.5rem;
  }
}
@media (min-width: 768px) {
  .dark-mode-label {
    display: block;
    cursor: pointer;
  }
}
@media (min-width: 1400px) {
  .toggle-menu {
    display: none;
  }
}